.row
  .col-md-6.col-md-offset-3
    h2 Email: mancini.lucas@gmail.com 
    p. 
      Sample single page application, the Front End is a responsive
      web client implemented using Knockout.js and Bootstrap, and the Back End is a pure RESTful 
      API running in Node.js, Express and MongoDB. 
